<mat-sidenav-container autosize>
    <mat-sidenav mode='side' opened class="folders-sidenav" *ngIf='!isMobile'>
        <app-folders (folderChanged)='onFolderChange($event)'></app-folders>
        <app-disc-space #discSpaceComponent [globalSettings]='globalSettings'></app-disc-space>
    </mat-sidenav>
    <mat-sidenav-content *ngIf='activeFolder'>
        <app-disc-space *ngIf='isMobile' #discSpaceComponent [globalSettings]='globalSettings'></app-disc-space>
        <mat-toolbar>
            <mat-toolbar-row class="file-manager-toolbar">
                <div>
                    <button mat-stroked-button [disabled]='uploadingFiles || currentUser?.systemEditingEnabled === false'
                        (click)='fileInput.click()' [matTooltip]='"MAX_SIZE" | translate:{param: maxFilesSize}'>
                        {{"ADD_FILES" | translate}}
                    </button>
                    <input autocomplete='off' type='file' hidden (input)='onFileUpload($event)' #fileInput multiple>
                    <app-action-button *ngIf='preparedFiles.length' (buttonClicked)='onFilesSend()'>
                        {{"SEND" | translate}}</app-action-button>
                    <button [disabled]='currentUser?.systemEditingEnabled === false || selection.selected.length === 0'
                        appDisableOnAction mat-icon-button color='primary' matTooltip='{{"DELETE" | translate}}'
                        (click)='onDeleteFiles()'>
                        <mat-icon>delete</mat-icon>
                    </button>

                    <button appDisableOnAction [disabled]='selection.selected.length === 0' mat-icon-button color='primary'
                        matTooltip='{{"DOWNLOAD" | translate}}' (click)='onDownloadFiles()'>
                        <mat-icon>get_app</mat-icon>
                    </button>

                    <button mat-raised-button color='warn' *ngIf='uploadingFiles' (click)='onFilesSendCancel()'
                        class="ml-5">
                        {{"CANCEL" | translate}}
                    </button>
                </div>

                <div class="folder-container">
                    <mat-icon class="folder-icon">folder</mat-icon>
                    <span class="folder-name"> {{activeFolder.name}} </span>
                </div>

                <div *ngIf='!isMobile'>
                    <mat-form-field floatLabel='never' class="no-bottom-padding">
                        <mat-label>{{"SEARCH" | translate}}</mat-label>
                        <mat-icon matPrefix>search</mat-icon>
                        <input autocomplete='off' matInput (input)="onSearch($event.target.value)" #input>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf='preparedFiles.length'>
                <mat-chip-list>
                    <mat-chip disableRipple *ngFor='let file of preparedFiles' (removed)='removePreparedFile(file)'
                        removable='true' [disabled]='uploadingFiles'>
                        {{file.name}}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                </mat-chip-list>
            </mat-toolbar-row>

            <mat-toolbar-row *ngIf='fileUploadProgress'>
                <span>{{fileUploadProgress}}%</span>
                <mat-progress-bar mode="determinate" [value]="fileUploadProgress" color='primary'></mat-progress-bar>
            </mat-toolbar-row>
        </mat-toolbar>

        <div class="table-container">
            <table mat-table matSort [dataSource]='dataSource' class="mat-elevation-z8">
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox color='primary' (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <mat-checkbox color='primary' (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"TITLE" | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="editable">
                        <mat-form-field floatLabel='never'>
                            <input autocomplete='off' disabled #inputTitle
                                (keypress)='onPropertyEdit($event, inputTitle, element, "title")'
                                [value]='element.title' matInput>
                        </mat-form-field>
                        <button [disabled]='currentUser?.systemEditingEnabled === false'
                            (click)='onEditClick(inputTitle, element.title)' mat-icon-button class="edit-icon-button">
                            <mat-icon *ngIf='inputTitle.disabled' matTooltip='{{"EDIT" | translate}}'>create</mat-icon>
                            <mat-icon *ngIf='!inputTitle.disabled' matTooltip='{{"CANCEL" | translate}}'>clear
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fileName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"NAME" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.fileName}} </td>
                </ng-container>

                <ng-container matColumnDef="uploadTime">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"CREATION_DATE" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.uploadTime | date: 'short'}} </td>
                </ng-container>

                <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"CREATED_BY" | translate}} </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
                </ng-container>

                <ng-container matColumnDef="size">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"WEIGHT" | translate}} [KB] </th>
                    <td mat-cell *matCellDef="let element"> {{element.size | convertSize:'KB'}} </td>
                </ng-container>

                <ng-container matColumnDef="order">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"ORDER" | translate}} </th>
                    <td mat-cell *matCellDef="let element" class="editable">
                        <mat-form-field floatLabel='never'>
                            <input appNumberInput autocomplete='off' disabled #inputOrder
                                (keypress)='onPropertyEdit($event, inputOrder, element, "order")'
                                [value]='element.order' matInput>
                        </mat-form-field>
                        <button [disabled]='currentUser?.systemEditingEnabled === false'
                            (click)='onEditClick(inputOrder, element.order)' mat-icon-button class="edit-icon-button">
                            <mat-icon *ngIf='inputOrder.disabled' matTooltip='{{"EDIT" | translate}}'>create</mat-icon>
                            <mat-icon *ngIf='!inputOrder.disabled' matTooltip='{{"CANCEL" | translate}}'>clear
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"ACTIONS" | translate}} </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button (click)='onShareFile(element)' matTooltip='{{"SHARE" | translate}}'>
                            <mat-icon>
                                share
                            </mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <div class="download-progress-list" *ngIf='downloadingFiles.length'>
            <div class="download-progress-item" *ngFor='let file of downloadingFiles'>
                <p class="download-progress-item-header">{{file.fileName}}</p>
                <div class="flex">
                    <span class="download-progress-item-percentage-progress">{{file.percentageProgress}}%</span>
                    <mat-progress-bar class="download-progress-item-bar" mode='determinate' [value]='file.percentageProgress' color='primary'></mat-progress-bar>
                </div>
            </div>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>