<mat-card class="global-settings-card">
    <mat-accordion [multi]='true'>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{"FILES_SETTINGS" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>

            <form [formGroup]='filesSettings'>
                <mat-form-field class="full-width">
                    <mat-label> {{"FILES_MAX_WEIGHT" | translate}} </mat-label>
                    <mat-select formControlName='maxSize'>
                        <mat-option *ngFor="let size of maxFileSizes" [value]="size"> {{size}} MB</mat-option>
                    </mat-select>
                    <mat-error *ngIf='filesSettings.get("maxSize")'>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label> {{"FILES_MAX_PER_HOUR" | translate}} </mat-label>
                    <input autocomplete='off' appNumberInput type="number" matInput formControlName='limitPerHour' />
                    <mat-error *ngIf='filesSettings.get("limitPerHour").hasError("required")'>{{"REQUIRED" | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf='filesSettings.get("limitPerHour").hasError("min") || filesSettings.get("limitPerHour").hasError("max")'
                        translate='VALUE_MIN_MAX'
                        [translateParams]='{min: minLimitPerHourValidator, max: maxLimitPerHourValidator}'>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{"PASSWORD_SETTINGS" | translate}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form [formGroup]='passwordSettings'>
                <mat-form-field class="full-width">
                    <mat-label> {{"PASSWORD_MIN_LENGTH" | translate}} </mat-label>
                    <input autocomplete='off' appNumberInput type="number" matInput formControlName='minLength' />
                    <mat-error *ngIf='passwordSettings.get("minLength").hasError("required")'>{{"REQUIRED" | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf='passwordSettings.get("minLength").hasError("min") || passwordSettings.get("minLength").hasError("max")'
                        translate='VALUE_MIN_MAX'
                        [translateParams]='{min: minPasswordValidator, max: maxPasswordValidator}'>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label> {{"PASSWORD_MIN_DIGITS" | translate}} </mat-label>
                    <input autocomplete='off' appNumberInput type="number" matInput formControlName='minDigits' />
                    <mat-error *ngIf='passwordSettings.get("minDigits").hasError("required")'>{{"REQUIRED" | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf='passwordSettings.get("minDigits").hasError("min") || passwordSettings.get("minDigits").hasError("max")'
                        translate='VALUE_MIN_MAX'
                        [translateParams]='{min: minPasswordValidator, max: maxPasswordValidator}'>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label> {{"PASSWORD_MIN_UPPERCASE" | translate}} </mat-label>
                    <input autocomplete='off' appNumberInput type="number" matInput formControlName='bigLetters' />
                    <mat-error *ngIf='passwordSettings.get("bigLetters").hasError("required")'>{{"REQUIRED" | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf='passwordSettings.get("bigLetters").hasError("min") || passwordSettings.get("bigLetters").hasError("max")'
                        translate='VALUE_MIN_MAX'
                        [translateParams]='{min: minPasswordValidator, max: maxPasswordValidator}'>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label> {{"PASSWORD_MIN_SPECIALS" | translate}} </mat-label>
                    <input autocomplete='off' appNumberInput type="number" matInput
                        formControlName='specialCharacters' />
                    <mat-error *ngIf='passwordSettings.get("specialCharacters").hasError("required")'>{{"REQUIRED" | translate}}
                    </mat-error>
                    <mat-error
                        *ngIf='passwordSettings.get("specialCharacters").hasError("min") || passwordSettings.get("specialCharacters").hasError("max")'
                        translate='VALUE_MIN_MAX'
                        [translateParams]='{min: minPasswordValidator, max: maxPasswordValidator}'>
                    </mat-error>
                </mat-form-field>
            </form>
        </mat-expansion-panel>
    </mat-accordion>

    <div class="flex end global-settings-button-container">
        <app-action-button (buttonClicked)='onSave()'>{{"SAVE" | translate}}</app-action-button>
    </div>
</mat-card>