<mat-card>
    <form [formGroup]='formGroup' (ngSubmit)='login()'>
        <mat-form-field>
            <mat-label>Login:</mat-label>
            <input matInput formControlName='login'>
            <mat-error>Pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>hasło:</mat-label>
            <input type='password' matInput formControlName='password'>
            <mat-error>Pole jest wymagane</mat-error>
        </mat-form-field>
        <button mat-raised-button color='primary' type="submit">Zaloguj</button>
        <button mat-raised-button color='primary' type="button" routerLink='register'>Zarejestruj się</button>
    </form>
</mat-card>