<mat-card class="login-panel-card">
    <form [formGroup]='formGroup' (ngSubmit)='login()'>
        <mat-form-field appearance='outline' class="full-width">
            <mat-label>{{"EMAIL" | translate}}</mat-label>
            <input autocomplete='off' matInput formControlName='email'>
            <mat-error>{{'REQUIRED' | translate}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance='outline' class="full-width">
            <mat-label>{{"PASSWORD" | translate}}</mat-label>
            <input autocomplete='off' type='password' matInput formControlName='password'>
            <mat-error>{{'REQUIRED' | translate}}</mat-error>
        </mat-form-field>

        <div class="flex between">
            <div>
                <button appDisableOnAction mat-raised-button color='primary' type="submit">{{"LOGIN" | translate}}</button>
                <button mat-raised-button color='primary' type="button" routerLink='/register'>{{"REGISTER" | translate}}</button>
            </div>
            <div>
                <button mat-button type="button" routerLink='/remind-password'>{{"REMIND_PASSWORD" | translate}}</button>
            </div>
        </div>
        
    </form>
</mat-card>