<h1 mat-dialog-title>{{"PASSWORD_CHANGING" | translate}}</h1>
<div mat-dialog-content>
    <form [formGroup]='formGroup' (ngSubmit)='onAccept()'>
        <mat-form-field class='full-width'>
            <mat-label>{{"OLD_PASSWORD" | translate}}</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='oldPassword'>
        </mat-form-field>
        <mat-form-field class='full-width'>
            <mat-label>{{"NEW_PASSWORD" | translate}}</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='newPassword'>
        </mat-form-field>
        <mat-form-field class='full-width'>
            <mat-label>{{"NEW_PASSWORD_REPEAT" | translate}}</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='newPasswordRepeat'>
        </mat-form-field>
        <div>
            <button mat-raised-button type="submit" color='primary'>{{"CHANGE_PASSWORD" | translate}}</button>
            <button mat-raised-button type="button" (click)='onCancel()' color='primary'>{{"CANCEL" | translate}}</button>
        </div>
    </form>
</div>
