<mat-card class="login-panel-card">
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label="Podstawowe Dane">
            <form [formGroup]='primaryDataForm' (ngSubmit)='onProceed(primaryDataForm)'>
                <mat-form-field class="full-width">
                    <mat-label>E-mail:</mat-label>
                    <input autocomplete='off' matInput formControlName='email'>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Imię:</mat-label>
                    <input autocomplete='off' matInput formControlName='name'>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Nazwisko:</mat-label>
                    <input autocomplete='off' matInput formControlName='surname'>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Zarejestruj jako:</mat-label>
                    <mat-select formControlName='role'>
                        <mat-option value='USER'>{{'USER' | convertUserRole}}</mat-option>
                        <mat-option value='ADMIN'>{{'ADMIN' | convertUserRole}}</mat-option>
                    </mat-select>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>

                <div class="flex end">
                    <button mat-raised-button color='primary' type='button' type="submit">Dalej</button>
                </div>
            </form>
        </mat-tab>

        <mat-tab disabled label="Hasło">
            <form [formGroup]='passwordForm' (ngSubmit)='onProceed(passwordForm)'>
                <input type="password" hidden />
                <input type="password" hidden />
                <!-- for autocomplete disable -->
                <mat-form-field class="full-width">
                    <mat-label>Hasło:</mat-label>
                    <input autocomplete='new-password' [type]="hidePassword ? 'password' : 'text'" matInput
                        formControlName='password'>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Powtórz hasło:</mat-label>
                    <input autocomplete='new-password' [type]="hidePasswordRepeat ? 'password' : 'text'" matInput
                        formControlName='passwordRepeat'>
                    <button mat-icon-button matSuffix (click)="hidePasswordRepeat = !hidePasswordRepeat">
                        <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-list>
                    <h3 matSubheader>Wymagania dotyczące hasła</h3>
                    <mat-list-item [ngClass]='passwordRequirements.minLength ? "correct" : "incorrect"'>
                        <span>Minimalna długość hasła:</span>
                        <span>{{globalSettings?.minLength}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.specialCharacters ? "correct" : "incorrect"'>
                        <span>Minimalna liczba znaków specjalnych:</span>
                        <span>{{globalSettings?.specialCharacters}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.bigLetters ? "correct" : "incorrect"'>
                        <span>Minimalna liczba wielkich liter:</span>
                        <span>{{globalSettings?.bigLetters}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.minDigits ? "correct" : "incorrect"'>
                        <span>Minimalna liczba cyfr:</span>
                        <span>{{globalSettings?.minDigits}}</span>
                    </mat-list-item>
                </mat-list>

                <div class="flex end">
                    <button mat-raised-button color='primary' type='button' type="submit">Dalej</button>
                </div>
            </form>
        </mat-tab>

        <mat-tab disabled label="Podsumowanie">
            <mat-list role="list">
                <mat-list-item role="listitem">
                    Email: {{primaryDataForm.get('email').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Imię: {{primaryDataForm.get('name').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Nazwisko: {{primaryDataForm.get('surname').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Hasło: {{showPasswordOnSummary ? passwordForm.get('password').value : ''}}
                    <button mat-button (click)='showPasswordOnSummary = !showPasswordOnSummary'>
                        {{showPasswordOnSummary ? 'Ukryj' : 'Pokaż'}}
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    Zarejestruj jako: {{primaryDataForm.get('role').value | convertUserRole}}
                </mat-list-item>
            </mat-list>
            
            <div class="flex between">
                <button appDisableOnAction mat-raised-button color='primary' type="submit"
                    (click)='register()'>Zarejestruj się</button>
                <button mat-raised-button class="go-to-login-button" color='primary' type="button" routerLink='/login'>Przejdź do
                    logowania</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>