<mat-card class="login-panel-card">
    <mat-tab-group mat-stretch-tabs dynamicHeight>
        <mat-tab label='{{"PRIMARY_DATA" | translate}}'>
            <form [formGroup]='primaryDataForm' (ngSubmit)='onProceed(primaryDataForm)'>
                <mat-form-field class="full-width">
                    <mat-label>{{"EMAIL" | translate}}</mat-label>
                    <input autocomplete='off' matInput formControlName='email'>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>{{"PERSON_NAME" | translate}}</mat-label>
                    <input autocomplete='off' matInput formControlName='name'>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>{{"SURNAME" | translate}}</mat-label>
                    <input autocomplete='off' matInput formControlName='surname'>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>{{"REGISTER_AS" | translate}}</mat-label>
                    <mat-select formControlName='role'>
                        <mat-option value='USER'>{{"USER" | translate}}</mat-option>
                        <mat-option value='ADMIN'>{{"ADMIN" | translate}}</mat-option>
                    </mat-select>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>

                <div class="flex end">
                    <button mat-raised-button color='primary' type='button'
                        type="submit">{{"PROCEED" | translate}}</button>
                </div>
            </form>
        </mat-tab>

        <mat-tab disabled label='{{"PASSWORD" | translate}}'>
            <form [formGroup]='passwordForm' (ngSubmit)='onProceed(passwordForm)'>
                <input type="password" hidden />
                <input type="password" hidden />
                <!-- for autocomplete disable -->
                <mat-form-field class="full-width">
                    <mat-label>{{"PASSWORD" | translate}}</mat-label>
                    <input autocomplete='new-password' [type]="hidePassword ? 'password' : 'text'" matInput
                        formControlName='password'>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>{{"PASSWORD_REPEAT" | translate}}</mat-label>
                    <input autocomplete='new-password' [type]="hidePasswordRepeat ? 'password' : 'text'" matInput
                        formControlName='passwordRepeat'>
                    <button mat-icon-button matSuffix (click)="hidePasswordRepeat = !hidePasswordRepeat">
                        <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error>{{"REQUIRED" | translate}}</mat-error>
                </mat-form-field>
                <mat-list>
                    <h3 matSubheader>{{"PASSWORD_REQUIREMENTS" | translate}}</h3>
                    <mat-list-item [ngClass]='passwordRequirements.minLength ? "correct" : "incorrect"'>
                        <span>{{"PASSWORD_MIN_LENGTH" | translate}}</span>
                        <span>{{globalSettings?.minLength}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.specialCharacters ? "correct" : "incorrect"'>
                        <span>{{"PASSWORD_MIN_SPECIALS" | translate}}</span>
                        <span>{{globalSettings?.specialCharacters}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.bigLetters ? "correct" : "incorrect"'>
                        <span>{{"PASSWORD_MIN_UPPERCASE" | translate}}</span>
                        <span>{{globalSettings?.bigLetters}}</span>
                    </mat-list-item>
                    <mat-list-item [ngClass]='passwordRequirements.minDigits ? "correct" : "incorrect"'>
                        <span>{{"PASSWORD_MIN_DIGITS" | translate}}</span>
                        <span>{{globalSettings?.minDigits}}</span>
                    </mat-list-item>
                </mat-list>

                <div class="flex end">
                    <button mat-raised-button color='primary' type='button'
                        type="submit">{{"PROCEED" | translate}}</button>
                </div>
            </form>
        </mat-tab>

        <mat-tab disabled label='{{"SUMMARY" | translate}}'>
            <mat-list role="list">
                <mat-list-item role="listitem">
                    {{"EMAIL" | translate}} {{primaryDataForm.get('email').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    {{"NAME" | translate}} {{primaryDataForm.get('name').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    {{"SURNAME" | translate}} {{primaryDataForm.get('surname').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    {{"PASSWORD" | translate}} {{showPasswordOnSummary ? passwordForm.get('password').value : ''}}
                    <button mat-button (click)='showPasswordOnSummary = !showPasswordOnSummary'>
                        {{showPasswordOnSummary ? 'Ukryj' : 'Pokaż'}}
                    </button>
                </mat-list-item>
                <mat-list-item role="listitem">
                    {{"REGISTER_AS" | translate}} {{primaryDataForm.get('role').value | convertUserRole}}
                </mat-list-item>
            </mat-list>

            <div class="flex between">
                <app-action-button (buttonClicked)='register()'>{{"REGISTER" | translate}}</app-action-button>
                <button mat-raised-button class="go-to-login-button" color='primary' type="button"
                    routerLink='/login'>{{"GO_TO_LOGIN" | translate}}</button>
            </div>
        </mat-tab>
    </mat-tab-group>
</mat-card>