<mat-toolbar>
  <mat-toolbar-row>
    <mat-form-field class="full-width search-for-users">
      <mat-label>{{"SEARCH_FOR_USERS" | translate}}</mat-label>
      <input matInput [formControl]="usersSearch" placeholder='{{"PERSON_NAME" | translate}}, {{"SURNAME" | translate}}, {{"EMAIL" | translate}}...'>
    </mat-form-field>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <mat-selection-list disableRipple>
      <mat-list-option [disabled]='user.role === "ADMIN"' color='primary' *ngFor="let user of users" [value]='user'>
        <p matLine>{{user.name}} {{user.surname}}</p>
        <p matLine>{{user.email}}</p>
        <p matLine>{{user.role | convertUserRole}}</p>
      </mat-list-option>
    </mat-selection-list>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-raised-button color='primary' (click)='onBlockAccess()'>{{"BLOCK_ACCESS_IN_SYSTEM" | translate}}</button>
    <button mat-raised-button color='primary' (click)='onBlockEdit()'>{{"BLOCK_EDIT_IN_SYSTEM" | translate}}</button>
  </mat-toolbar-row>
</mat-toolbar>



<h2 class="header">{{"BLOCKED_USERS" | translate}}</h2>

<div class="table-container">
  <table mat-table [dataSource]="blockedUsers" class="mat-elevation-z8">
  
    <ng-container matColumnDef="userData">
      <th mat-header-cell *matHeaderCellDef> {{"USER_DATA" | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} {{element.surname}} </td>
    </ng-container>
  
    <ng-container matColumnDef="blockEdit">
      <th mat-header-cell *matHeaderCellDef> {{"EDIT_BLOCKED" | translate}} </th>
      <td mat-cell *matCellDef="let element">{{!element.systemEditingEnabled | appBoolean}}</td>
    </ng-container>
  
    <ng-container matColumnDef="blockAccess">
      <th mat-header-cell *matHeaderCellDef> {{"ACCESS_BLOCKED" | translate}} </th>
      <td mat-cell *matCellDef="let element">{{!element.systemAccess | appBoolean}}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> {{"ACTIONS" | translate}} </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)='unlockUser(element)'>{{"UNLOCK_USER" | translate}}</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>