<mat-card class="login-panel-card">
    <form [formGroup]='formGroup' (ngSubmit)='onRemindPassword()'>
        <mat-form-field class="full-width">
            <mat-label>{{"AUTH.EMAIL" | translate}}</mat-label>
            <input autocomplete='off' matInput formControlName='email'>
            <mat-error>{{"FORMS.REQUIRED" | translate}}</mat-error>
        </mat-form-field>
    
        <button appDisableOnAction mat-raised-button color='primary' type="submit">{{"AUTH.REMIND_PASSWORD" | translate}}</button>
    </form>
</mat-card>