.mat-toolbar-row {
  justify-content: space-between;
}

.editable {
  .edit-icon-button {
    opacity: 0;
  }

  &:hover .edit-icon-button {
    opacity: 1;
  }

  .mat-form-field {
    .mat-form-field-underline {
      opacity: 0;
    }
  }
}


