<h1 mat-dialog-title>Zmiana hasła</h1>
<div mat-dialog-content>
    <form [formGroup]='formGroup' (ngSubmit)='onAccept()'>
        <mat-form-field>
            <mat-label>Stare hasło</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='oldPassword'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nowe hasło</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='newPassword'>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Powtórz nowe hasło</mat-label>
            <input autocomplete='new-password' matInput type="password" formControlName='newPasswordRepeat'>
        </mat-form-field>
        <div>
            <button mat-raised-button type="submit">Zmień hasło</button>
            <button mat-raised-button type="button" (click)='onCancel()'>Anuluj</button>
        </div>
    </form>
</div>
