/* You can add global styles to this file, and also import other style files */

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button{
  border: none;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dae4ee;
}

table {
  width: 100%;
}

.toast-middle-top {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  min-width: 500px;
}

mat-card.login-panel-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 80%;
  min-height: 200px;

  @media(min-width: 1366px) {
    min-width: 60%;
  }

  @media(min-width: 1100px) {
    min-width: 40%;
  }
}

mat-form-field.login-panel-field {
  width: 90%;
  margin: 10px auto;
}

button.login-panel-button {
  margin-right: 10px;
}
