/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dae4ee;
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;

  .mat-table {
    width: 100%;
    min-width: 1200px;
  }
}

.toast-middle-top {
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.mat-toolbar-row,
.mat-toolbar-single-row {
  height: auto;
  min-height: 64px;
}

.header {
  margin: 15px 0;
  padding-left: 10px;
}

.flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: flex-end;
  }

  &.between {
    justify-content: space-between;
  }

  &.around {
    justify-content: space-around;
  }

}

button.ml-5 {
  margin-left: 5px;
}

form {
  padding-top: 15px;
}

.mat-list {
  .mat-subheader {
    padding: 0;
  }

  &.mat-list-base .mat-list-item .mat-list-item-content {
    justify-content: space-between;
    padding: 0;
  }
}

mat-card.login-panel-card {
  width: 90vw;
  max-height: 80vh;
  overflow: auto;
  max-width: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mat-form-field {
  margin: 5px 0;

  &.full-width {
    width: 100%;
  }

  .mat-form-field-prefix {
    transform: translateY(6px);
  }

  &.no-bottom-padding {
    .mat-form-field-wrapper {
      padding: 0;
    }

    .mat-form-field-underline {
      bottom: 0;
    }

    .mat-form-field-infix {
      border-top: none;
    }
  }

  &.no-underline {
    .mat-form-field-underline {
      opacity: 0;
    }
  }
}

.user-control-panel {
  display: flex;
  align-items: center;

  .user-data {
    margin: 0 5px;
    font-weight: bold;
  }
}

.mat-cell.editable {
  .edit-icon-button {
    opacity: 0;
  }

  &:hover .edit-icon-button {
    opacity: 1;
  }

  .mat-form-field-underline {
    opacity: 0;
  }
}

.mat-tab-links {
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-toolbar-row {
  flex-wrap: wrap;

  &.file-manager-toolbar {
    justify-content: space-between;
  }
}

.mat-chip-list {
  margin-bottom: 15px;
}

.mat-dialog-container {
  max-width: 500px;
}

.mat-selection-list {
  flex-basis: 100%;

  .mat-list-option {
    margin-bottom: 5px;
  }
}

.mat-sidenav-container {
  min-height: calc(100% - 49px);
}

.mat-radio-group {
  display: block;

  .mat-radio-button {
    margin: 20px 0;

    &+.mat-radio-button {
      margin-left: 10px;
    }
  }
}
