<div class="user-control-panel">
    <p class="user-credentials" *ngIf='!isMobile'>
        <span class="login-as-label">{{"LOGGED_AS" | translate}}</span>
        <span class="user-data">{{currentUser?.name}} {{currentUser?.surname}}</span>
    </p>
    <a mat-tab-link [matMenuTriggerFor]="menu">
        <span *ngIf='!isMobile'>{{"MENU" | translate}}</span>
        <span *ngIf='isMobile'>
            <button mat-icon-button disableRipple>
                <mat-icon class="hamburger-icon">menu</mat-icon>
            </button>
        </span>
    </a>
    <mat-menu #menu="matMenu">
        <a *ngIf='isMobile' mat-menu-item disabled>
            {{currentUser?.name}} {{currentUser?.surname}}
        </a>
        <a mat-menu-item (click)='logout()'>
            {{"LOGOUT" | translate}}
        </a>
        <a mat-menu-item (click)='changePassword()'>
            {{"CHANGE_PASSWORD" | translate}}
        </a>
        <a mat-menu-item (click)='deleteAccount()'>
            {{"DELETE_ACCOUNT" | translate}}
        </a>
        <a mat-menu-item *ngIf='showAdministrationPanelLink && currentUser?.role === "ADMIN"'
            (click)='showAdminPanel()'>
            {{"ADMIN_PANEL" | translate}}
        </a>
        <a mat-menu-item *ngIf='showFileManagerLink' (click)='showFileManager()'>
            {{"FILE_MANAGER" | translate}}
        </a>
        <a mat-menu-item>
            <mat-form-field class="full-width language-select" (click)='$event.stopPropagation()'>
                <mat-select [formControl]='languageSelect'>
                    <mat-option value='pl'>Polish</mat-option>
                    <mat-option value='en'>English</mat-option>
                </mat-select>
            </mat-form-field>
        </a>
    </mat-menu>
</div>