<mat-card class="login-panel-card">
    <form class="login-panel-form" [formGroup]='formGroup' (ngSubmit)='register()'>
        <mat-form-field class="login-panel-field">
            <mat-label class="login-panel-label">E-mail:</mat-label>
            <input class="login-panel-input" matInput formControlName='email'>
            <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="login-panel-field">
            <mat-label class="login-panel-label">Imię:</mat-label>
            <input class="login-panel-input" matInput formControlName='name'>
            <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="login-panel-field">
            <mat-label class="login-panel-label">Nazwisko:</mat-label>
            <input class="login-panel-input" matInput formControlName='surname'>
            <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="login-panel-field">
            <mat-label class="login-panel-label">Hasło:</mat-label>
            <input class="login-panel-input" [type]="hidePassword ? 'password' : 'text'" matInput formControlName='password'>
            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
        </mat-form-field>
        <mat-form-field class="login-panel-field">
            <mat-label class="login-panel-label">Powtórz hasło:</mat-label>
            <input class="login-panel-input" [type]="hidePasswordRepeat ? 'password' : 'text'" matInput formControlName='passwordRepeat'>
            <button mat-icon-button matSuffix (click)="hidePasswordRepeat = !hidePasswordRepeat">
                <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
        </mat-form-field>

        <button class="login-panel-button" mat-raised-button color='primary' type="submit">Zarejestruj się</button>
    </form>
</mat-card>