<mat-card class="login-panel-card">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Dane Użytkownika">
            <form class="login-panel-form" [formGroup]='formGroup' (ngSubmit)='onProceed()'>
                <mat-form-field class="login-panel-field">
                    <mat-label class="login-panel-label">E-mail:</mat-label>
                    <input autocomplete='off' class="login-panel-input" matInput formControlName='email'>
                    <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="login-panel-field">
                    <mat-label class="login-panel-label">Imię:</mat-label>
                    <input autocomplete='off' class="login-panel-input" matInput formControlName='name'>
                    <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="login-panel-field">
                    <mat-label class="login-panel-label">Nazwisko:</mat-label>
                    <input autocomplete='off' class="login-panel-input" matInput formControlName='surname'>
                    <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="login-panel-field">
                    <mat-label class="login-panel-label">Hasło:</mat-label>
                    <input autocomplete='off' class="login-panel-input" [type]="hidePassword ? 'password' : 'text'"
                        matInput formControlName='password'>
                    <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                        <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
                </mat-form-field>
                <mat-form-field class="login-panel-field">
                    <mat-label class="login-panel-label">Powtórz hasło:</mat-label>
                    <input autocomplete='off' class="login-panel-input"
                        [type]="hidePasswordRepeat ? 'password' : 'text'" matInput formControlName='passwordRepeat'>
                    <button mat-icon-button matSuffix (click)="hidePasswordRepeat = !hidePasswordRepeat">
                        <mat-icon>{{hidePasswordRepeat ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error class="login-panel-error-message">Pole jest wymagane</mat-error>
                </mat-form-field>

                <button class="login-panel-button" mat-raised-button color='primary' type='button'
                    type="submit">Dalej</button>
            </form>
        </mat-tab>
        <mat-tab [disabled]='!canShowSummary' label="Podsumowanie">

            <mat-list role="list">
                <mat-list-item role="listitem">
                    Email: {{formGroup.get('email').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Imię: {{formGroup.get('name').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Nazwisko: {{formGroup.get('surname').value}}
                </mat-list-item>
                <mat-list-item role="listitem">
                    Hasło: {{showPasswordOnSummary ? formGroup.get('password').value : ''}}
                    <button mat-button (click)='showPasswordOnSummary = !showPasswordOnSummary'>
                        {{showPasswordOnSummary ? 'Ukryj' : 'Pokaż'}}
                    </button>
                </mat-list-item>
                <mat-list-item>
                    <button appDisableOnAction class="login-panel-button" mat-raised-button color='primary' type="submit"
                        (click)='register()'>Zarejestruj się</button>
                    <button class="login-panel-button" mat-raised-button color='primary' type="button" routerLink='/login'>Przejdź do logowania</button>
                </mat-list-item>
            </mat-list>

        </mat-tab>
    </mat-tab-group>
</mat-card>