<div>
    <mat-toolbar>
        <button mat-stroked-button
            matTooltip='Kliknij prawym przyciskiem myszy na folder aby wyświetlić dodatkowe opcje'
            (click)='addRootFolder()'>Dodaj folder nadrzędny</button>
    </mat-toolbar>

    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding matTreeNodePaddingIndent='10'>
            <button mat-icon-button disabled></button>
            <button appDisableContextMenu mat-button (auxclick)='openFolderMenu(menuTrigger)'
                (click)='setActiveFolder(node)' [ngClass]="{'active': node.id === activeFolder?.id}">
                {{node.name}}
                <span [matMenuTriggerFor]='menu' [matMenuTriggerData]='node' #menuTrigger='matMenuTrigger'
                    style="opacity: 0;"></span>
            </button>
        </mat-tree-node>
        <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding matTreeNodePaddingIndent='10'>
            <button mat-icon-button matTreeNodeToggle>
                <mat-icon>
                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
            </button>
            <button appDisableContextMenu mat-button (auxclick)='openFolderMenu(menuTrigger)'
                (click)='setActiveFolder(node)' [ngClass]="{'active': node.id === activeFolder?.id}">
                {{node.name}}
                <span [matMenuTriggerFor]='menu' [matMenuTriggerData]='node' #menuTrigger='matMenuTrigger'
                    style="opacity: 0;"></span>
            </button>
        </mat-tree-node>
    </mat-tree>

    <mat-menu #menu='matMenu'>
        <ng-template matMenuContent let-id='id'>
            <a mat-menu-item (click)='addSubfolder(id)'>
                Dodaj podfolder
            </a>
            <a mat-menu-item (click)='editFolder(id)'>
                Edytuj folder
            </a>
            <a mat-menu-item (click)='deleteFolder(id)'>
                Usuń folder
            </a>
        </ng-template>
    </mat-menu>
</div>